.log-in {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-window {
  width: 100%;
  height: 624px;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.log-in-header {
  font-family: "Billabong";
  font-size: 84px;
  margin-bottom: 12px;
}

.log-ins-container {
  display: flex;
}

.guest-log-in-container {
  display: flex;
  column-gap: 16px;
  margin-bottom: 16px;
}

.guest-log-in-container img {
  width: 170px;
  height: 170px;
}

.log-in-label {
  font-size: 24px;
}

.google-log-in-btn {
  font-family: inherit;
  border: none;
  background-color: #0095f6;
  color: white;
  font-size: inherit;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.guest-log-in-btn {
  width: 170px;
  height: 230px;
  background-color: transparent;
  border: 1px solid rgb(164, 164, 164);
  font-weight: 600;
  font-family: inherit;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.guest-log-in-btn:hover {
  background-color: #f3f3f3;
}

.guest-log-in-btn-name {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guest-log-in-btn-username {
  font-size: 20px;
}

.user-creation-form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.user-creation-form > .row-2 {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.user-creation-form label > span:first-child {
  font-weight: 600;
}

.user-creation-form input {
  font-family: inherit;
  height: 12px;
  padding: 12px;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid gray;
  flex: 1;
}

.create-user-btn {
  height: 40px;
  margin-left: 16px;
  font-family: inherit;
  background-color: rgb(0, 149, 246);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 500;
}

.create-user-btn.disabled {
  opacity: 0.5;
  cursor: initial;
}

.user-creation-requirements-message {
  margin-top: 12px;
  width: 400px;
  font-size: 14px;
}

.user-creation-error-message {
  margin-top: 12px;
  width: 400px;
  font-size: 14px;
  color: red;
}
