.nav-links {
  margin-left: 57px;
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 22px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

#profile-pic-nav-link {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  padding: 1px;
}

#profile-pic-nav-link.bordered {
  border: 1px solid black;
}
