@keyframes scale-up-down {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.post {
  width: 614px;
  border: 1px solid lightgray;
  margin-bottom: 24px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.post-img {
  height: 614px;
  width: 614px;
}

.post-description {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
}

.post-description > * {
  margin-bottom: 4px;
}

.post-description-author-username {
  font-weight: 700;
  margin-right: 4px;
  cursor: pointer;
}

.post-description-author-username:hover {
  text-decoration: underline;
}

.post-description-comment-counter {
  color: gray;
  margin-bottom: 8px;
}

.post-description-comment-counter > span {
  cursor: pointer;
}
