.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #efefef;
  border: none;
  height: 36px;
  width: 268px;
  border-radius: 8px;
  font-size: 17px;
  padding-left: 48px;
  padding-right: 16px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input::placeholder {
  color: rgb(137, 137, 137);
  opacity: 1;
}

.magnifying-glass {
  position: absolute;
  left: 0;
  padding-left: 16px;
  pointer-events: none;
}

.clear-search-btn {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgb(202, 202, 202);
  position: absolute;
  right: 16px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 8px;
}
